@model ASP.NET_BlogApp.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdmin = ViewBag.IsAdmin ?? false;

    var options = new AjaxOptions()
    {
        UpdateTargetId = "commentContainer",
        Url = Url.Action("Comment", "Home", new { id = Model.Id }),
        LoadingElementId = "loadingIndicator"
    };
}

<div id="modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2>Leave a comment!</h2>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm(options))
                {
                    <div id="commentEditor">
                        <label class="col-md-4 control-label">Name(Required)</label><input id="namefield" class="form-control" type="text" name="name" /><br />
                        <label class="col-md-4 control-label">Email(Optional)</label><input class="form-control" type="text" name="email" /><br />
                        <label class="col-md-4 control-label">Comment</label><textarea id="commenttext" class="form-control" name="body" rows="10" cols="60"></textarea><br />
                        <label class="col-md-4 control-label"></label><input id="submit" class="btn btn-default" type="submit" name="submit" value="Submit!" onclick="updateComments()" /><img id="loadingIndicator" style="display:none;" src="@Url.Content("~/Content/Images/loading.gif")" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="postTitle">@Html.ActionLink(@Model.Title, "Details", "Home", new { id = Model.Id })</div>
<div class="postContainer">
    <div class="postTabs">
        <div class="dateTab">
            <div class="month">@Model.Date.ToString("MMM").ToUpper()</div>
            <div class="day">@Model.Date.ToString("dd")</div>
        </div>
        <div class="commentsTab">
            <a href="@Url.Action("Details", "Home", new { id = Model.Id })#comments">
                <img src="@Url.Content("~/Content/Images/Comments.png")" alt="Comments" /> <span id="commentsCount">@Model.Comments.Count</span>
            </a>
        </div>
    </div>
    <div class="postContent">
        <div class="postBody">@Html.Raw(Model.Body)</div>
        <div class="tagList">
            @foreach (var tag in Model.Tags)
            {
                <span class="tag"><a href="@Url.Action("Tags", "Home", new { id = tag.Name })">@tag.Name</a></span>
            }
        </div> <br />
        <div class="text-center">
            <a href="#modal" role="button" class="btn btn-default" data-toggle="modal">Add a comment</a>
        </div>
    </div>
</div>


<a id="comments"></a>
<div id="commentContainer">

    @Html.Action("ShowComments", "Home", new { id = Model.Id })

</div>
@section scripts
    {
        @*Ненавязивый JavaScript для выполнения запроса на сервер без полного обновления страницы*@
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#submit').click(function (response) {

                    if (document.getElementById("commenttext").value.length > 1 && document.getElementById("namefield").value.length > 0) {
                        $('#modal').modal('toggle');
                        count = document.getElementById("commentsCount").innerHTML;
                        document.getElementById("commentsCount").innerHTML = "";
                        document.getElementById("commentsCount").innerHTML = parseInt(count, 10) + 1;
                    }
                });
            })
        </script>
    }