@model ViewModels.EditHomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section title
{
    Edit post
}
<div class="postContainer">
    <div class="postTitle">Edit</div>
    @using (Html.BeginForm("UpdatePosts", "Home", FormMethod.Post, new { @id = "postForm", @class = "jumbotron" }))
    {
        <input type="hidden" name="id" value="@Model.Post.Id" />
        <label class="col-md-2">Date</label><input class="form-control" type="text" name="date" value="@Model.Post.Date" /><br />
        <label class="col-md-2">Title</label><input class="form-control" type="text" name="title" value="@Model.Post.Title" /><br />
        <label class="col-md-2">Tags</label><input class="form-control" type="text" name="tags" value="@Model.TagsList" /><br />
        <label class="col-md-2">Post</label><textarea class="form-control" name="body" rows="10" cols="80">@Model.Post.Body</textarea><br />
        <label class="col-md-2"></label><input class="btn btn-default" type="submit" name="submit" value="Submit" />
    }
    
</div>

