@using ASP.NET_BlogApp.Models;
@using Entities;
@model IndexHomeViewModel

@{
    bool isPreviousLinkVisible = Model.IsPreviousLinkVisible;
    bool isNextLinkVisible = Model.IsNextLinkVisible;
}
@section title
{
Home Page
}

@foreach (Post post in Model.Posts)
{
    <div class="postTitle"><a href="@Url.Action("Details", "Home", new { id = post.Id})">@post.Title</a></div>
    <div class="postContainer">
        <div class="postTabs">
            <div class="dateTab">
                <div class="month">@post.Date.ToString("MMM").ToUpper()</div>
                <div class="day">@post.Date.ToString("dd")</div>
            </div>
            <div class="commentsTab">
                <a href="@Url.Action("Details", "Home", new { id = post.Id})#comments">
                    <img src="@Url.Content("~/Content/Images/Comments.png")" alt="Comments" /> @post.Comments.Count()
                </a>
            </div>
        </div>
        <div class="postContent">
            <div class="postBody">@Html.Raw(post.Body)</div>
            <div class="tagList">
                @foreach (var tag in post.Tags)
                {
                    <span class="tag"><a href="@Url.Action("Tags", "Home", new { id = tag.Name})">@tag.Name</a></span>
                }
            </div>
        </div>
    </div>
}
<div class="text-center">
    @if (isPreviousLinkVisible)
    {
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Home", new { id = Model.PageNumber - 1})"> &lt; Previous</a>
    }

    @if (isNextLinkVisible)
    {
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Home", new { id = Model.PageNumber + 1})"> Next &gt;</a>
    }
</div>