<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@RenderSection("title")</title>
    @Styles.Render("~/Content/css")
    <!-- MetisMenu CSS -->
    <link href="@Url.Content("~/Content/metisMenu.css")" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/sb-admin-2.css")" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="@Url.Content("~/Content/font-awesome.css")" rel="stylesheet" type="text/css">
    <!-- Custom Grid -->
    <link href="@Url.Content("~/Content/jquery.dataTables.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/dataTables.bootstrap.css")" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--<div id="wrapper">-->
    <!-- Navigation -->

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Master P's Blog", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                @if (User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("New Post", "CreatePost", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="@Url.Action("Index","Manage", null)"><i class="fa fa-dashboard fa-fw"></i>Account information</a>
                </li>
                <li>
                    <a href="@Url.Action("AdminPosts","Home")"><i class="fa fa-table fa-fw"></i>Posts editing panel</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
    <!-- Page Content -->
    <div id="page-wrapper">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My first ASP.NET Application</p>
        </footer>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
    <!--</div>-->
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <!-- Custom Theme JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/sb-admin-2.js")"></script>
    @RenderSection("scripts", required: false)
    <!-- Metis Menu Plugin JavaScript -->
    <script src="@Url.Content("~/Scripts/plugins/metisMenu/metisMenu.js")"></script>
</body>
</html>
